Repository jst-seminar-rostlab-tum/genomics.ai, pull requests merged in 2022-04, with the labels that each got.

#7 added dotenv to load .env file && wrote stripts to support hot reload…
  Backend/.gitignore
  Backend/docker-compose.yml
  Backend/package-lock.json
  Backend/package.json
  Backend/src/server.ts
  Backend/src/startup/init_env_vars.ts
Labels: Improvements

#10 Added more env variables + npm scripts for local setup + fallback when mailgun key is missing
  Backend/.gcloudignore
  Backend/dev/docker-compose.yml
  Backend/dev/minio.Dockerfile
  Backend/package.json
  Backend/src/API/REST/routes/password_reset.ts
  Backend/src/API/REST/routes/verify_email.ts
  Backend/src/startup/init_env_vars.ts
  Backend/src/util/mailer.ts
  Backend/src/views/mails/password_reset_confirmation_email/html.html
  Backend/src/views/mails/password_reset_confirmation_email/text.txt
  Backend/src/views/mails/password_reset_request_email/html.html
  Backend/src/views/mails/password_reset_request_email/text.txt
Labels: Improvements

#11 Feature/f2 implement new navbar and refactoring
  Frontend/src/components/DashboardContent/DashboardContent.jsx
  Frontend/src/components/DashboardContent/index.jsx
  Frontend/src/components/Sidebar/index.jsx
  Frontend/src/components/Sidebar/sidebar.module.css
Labels: Improvements, feature

#8 Feature/b database modeling
  Backend/src/API/REST/express_routes.ts
  Backend/src/API/REST/routes/abort_processing.ts
  Backend/src/API/REST/routes/file_download/results.ts
  Backend/src/API/REST/routes/file_upload/complete_upload.ts
  Backend/src/API/REST/routes/file_upload/get_upload_url.ts
  Backend/src/API/REST/routes/file_upload/start_upload.ts
  Backend/src/API/REST/routes/get_job.ts
  Backend/src/API/REST/routes/get_jobs.ts
  Backend/src/API/REST/routes/initiate_processing.ts
  Backend/src/API/REST/routes/institution/institutionRouter.ts
  Backend/src/API/REST/routes/project/projectRouter.ts
  Backend/src/database/models/institution.ts
  Backend/src/database/models/project.ts
  Backend/src/database/models/projectJob.ts
  Backend/src/database/models/user.ts
Labels: feature, backend

#15 Feature/f2 component filter
  Frontend/src/components/DashboardContent/index.jsx
  Frontend/src/components/Filter/filter.module.css
  Frontend/src/components/Filter/index.jsx
  Frontend/src/components/Sidebar/SidebarData.jsx
  Frontend/src/components/Sidebar/index.jsx
  Frontend/src/components/Sidebar/sidebar.module.css
  Frontend/src/components/Tag/index.jsx
  Frontend/src/components/Tag/tag.module.css
Labels: feature

#16 Feature/f2 component mapper
  Frontend/.eslintrc.json
  Frontend/src/components/Mapper/index.jsx
  Frontend/src/components/Mapper/mapper.module.css
Labels: feature

#18 Feature/b 15 sprint 2 backend architecture dao
  Backend/src/API/REST/middleware/check_auth.ts
  Backend/src/API/REST/routes/abort_processing.ts
  Backend/src/API/REST/routes/auth.ts
  Backend/src/API/REST/routes/authorize_user.ts
  Backend/src/API/REST/routes/file_download/results.ts
  Backend/src/API/REST/routes/file_upload/complete_upload.ts
  Backend/src/API/REST/routes/file_upload/get_upload_url.ts
  Backend/src/API/REST/routes/file_upload/start_upload.ts
  Backend/src/API/REST/routes/get_job.ts
  Backend/src/API/REST/routes/get_jobs.ts
  Backend/src/API/REST/routes/get_profile.ts
  Backend/src/API/REST/routes/get_unauthorized_users.ts
  Backend/src/API/REST/routes/initiate_processing.ts
  Backend/src/API/REST/routes/institution/institutionRouter.ts
  Backend/src/API/REST/routes/password_reset.ts
  Backend/src/API/REST/routes/project/projectRouter.ts
  Backend/src/API/REST/routes/register.ts
  Backend/src/API/REST/routes/resend_verification_link.ts
  Backend/src/API/REST/routes/update_profile.ts
  Backend/src/API/REST/routes/verify_email.ts
  Backend/src/database/dtos/institution.dto.ts
  Backend/src/database/dtos/password_reset_token.dto.ts
  Backend/src/database/dtos/project.dto.ts
  Backend/src/database/dtos/projectJob.dto.ts
  Backend/src/database/dtos/token.dto.ts
  Backend/src/database/dtos/user.dto.ts
  Backend/src/database/models/password_reset_token.ts
  Backend/src/database/models/token.ts
  Backend/src/database/services/institution.service.ts
  Backend/src/database/services/passwordResetToken.service.ts
  Backend/src/database/services/project.service.ts
  Backend/src/database/services/projectJob.service.ts
  Backend/src/database/services/token.service.ts
  Backend/src/database/services/user.service.ts
Labels: backend

#17 implemented invite person to institution feature
  Backend/src/API/REST/express_routes.ts
  Backend/src/API/REST/routes/institution/institutionRouter.ts
  Backend/src/database/services/institution.service.ts
Labels: feature, backend

#25 Component/file upload
  Frontend/.eslintrc.json
  Frontend/package.json
  Frontend/src/components/DashboardContent/index.jsx
  Frontend/src/components/FileUpload/index.jsx
  Frontend/src/components/Filter/filter.module.css
  Frontend/src/components/Filter/index.jsx
  Frontend/src/components/Mapper/index.jsx
  Frontend/src/components/Mapper/mapper.module.css
  Frontend/src/components/Sidebar/SidebarData.jsx
  Frontend/src/components/Sidebar/index.jsx
  Frontend/src/components/Sidebar/sidebar.module.css
  Frontend/src/components/Tag/index.jsx
  Frontend/src/components/Tag/tag.module.css
  Frontend/src/shared/theme/colors.js
  Frontend/src/shared/theme/theme.js
  Frontend/src/views/Dashboard/index.jsx
  Frontend/yarn.lock
Labels: component

#12 Institution Overview & Project Overview page
  .gitignore
  Frontend/.eslintrc.json
  Frontend/public/index.html
  Frontend/src/App.jsx
  Frontend/src/components/DashboardContent/DashboardContent.jsx
  Frontend/src/components/DashboardContent/index.jsx
  Frontend/src/components/NavBar/navbar.module.css
  Frontend/src/components/ProfileImage/index.jsx
  Frontend/src/components/ProfileImage/profileImage.module.css
  Frontend/src/components/Sidebar/index.jsx
  Frontend/src/components/general/Header/header.module.css
  Frontend/src/components/general/Header/index.jsx
  Frontend/src/components/general/HeaderView/headerView.module.css
  Frontend/src/components/general/HeaderView/index.jsx
  Frontend/src/components/general/ListCard/index.jsx
  Frontend/src/components/general/ListCard/listCard.module.css
  Frontend/src/components/institutionOverview/InstitutionCard/index.jsx
  Frontend/src/components/institutionOverview/InstitutionCard/institutionCard.module.css
  Frontend/src/components/institutionOverview/InstitutionCreationDialog/index.jsx
  Frontend/src/components/institutionOverview/InstitutionLeaveButton/index.jsx
  Frontend/src/components/teams/detail/TeamPage/index.jsx
  Frontend/src/components/teams/overview/TeamCard/index.jsx
  Frontend/src/components/teams/overview/TeamCard/teamCard.module.css
  Frontend/src/components/teams/overview/TeamCreationDialog/index.jsx
  Frontend/src/components/teams/overview/TeamLeaveButton/index.jsx
  Frontend/src/shared/services/mock/institutions.js
  Frontend/src/shared/services/mock/teams.js
  Frontend/src/shared/services/mock/user.js
  Frontend/src/shared/utils/stringColor.js
  Frontend/src/views/Dashboard/dashboard.module.css
  Frontend/src/views/InstitutionOverview/index.jsx
  Frontend/src/views/InstitutionOverview/institutionOverview.module.css
  Frontend/src/views/Settings/index.jsx
  Frontend/src/views/Settings/settings.module.css
  Frontend/src/views/TeamOverview/index.jsx
  Frontend/src/views/TeamOverview/teamOverview.module.css
  Frontend/src/views/TeamPage/index.jsx
  Frontend/src/views/TeamPage/teamPage.module.css
Labels: feature

#22 Component/f2 cards
  Frontend/src/App.jsx
  Frontend/src/components/Cards/AtlasCard.jsx
  Frontend/src/components/Cards/DatasetCard.jsx
  Frontend/src/components/Cards/GeneralCard.jsx
  Frontend/src/components/Cards/ModelCard.jsx
  Frontend/src/components/Tab/index.jsx
  Frontend/src/components/Tag/index.jsx
  Frontend/src/views/Dashboard/index.jsx
Labels: component

#27 Fix/change naming
  Backend/src/API/REST/express_routes.ts
  Backend/src/API/REST/routes/abort_processing.ts
  Backend/src/API/REST/routes/file_download/results.ts
  Backend/src/API/REST/routes/file_upload/complete_upload.ts
  Backend/src/API/REST/routes/file_upload/get_upload_url.ts
  Backend/src/API/REST/routes/file_upload/start_upload.ts
  Backend/src/API/REST/routes/get_job.ts
  Backend/src/API/REST/routes/get_jobs.ts
  Backend/src/API/REST/routes/get_project.ts
  Backend/src/API/REST/routes/get_projects.ts
  Backend/src/API/REST/routes/initiate_processing.ts
  Backend/src/API/REST/routes/team/teamRouter.ts
  Backend/src/database/dtos/project.dto.ts
  Backend/src/database/dtos/projectJob.dto.ts
  Backend/src/database/dtos/team.dto.ts
  Backend/src/database/models/project.ts
  Backend/src/database/models/projectJob.ts
  Backend/src/database/models/team.ts
  Backend/src/database/services/project.service.ts
  Backend/src/database/services/projectJob.service.ts
  Backend/src/database/services/team.service.ts
Labels: backend

#29 changed teamId and owner fields
  Backend/src/database/models/project.ts
Labels: backend

#30 Feature/b 36 sprint 3 add team to institution
  Backend/src/API/REST/express_routes.ts
  Backend/src/API/REST/routes/team/teamRouter.ts
  Backend/src/database/services/institution.service.ts
  Backend/src/database/services/project.service.ts
  Backend/src/database/services/team.service.ts
  Backend/src/views/mails/invitation_to_project/text.txt
  Backend/src/views/mails/invitation_to_team/html.html
  Backend/src/views/mails/invitation_to_team/text.txt
Labels: feature, backend

#24 Feature/b 34 sprint 3 join member to project
  Backend/src/API/REST/express_routes.ts
  Backend/src/API/REST/routes/team/teamRouter.ts
  Backend/src/database/services/project.service.ts
  Backend/src/database/services/team.service.ts
Labels: feature, backend

#26 Component/modal
  Frontend/src/components/Modal/index.jsx
  Frontend/src/views/Dashboard/index.jsx
Labels: component

#37 Feature/b 29 sprint 3 make a person admin for the institution
  Backend/package-lock.json
  Backend/src/API/REST/express_routes.ts
  Backend/src/API/REST/routes/institution/institutionRouter.ts
  Backend/src/database/services/institution.service.ts
  Backend/src/swagger.json
Labels: feature, backend

#40 Fix mapper background
  Frontend/src/components/Mapper/index.jsx
  Frontend/src/components/Mapper/mapper.module.css
Labels: bug, component

#33 Improvement/landing page
  Frontend/src/App.jsx
  Frontend/src/components/Footer/index.jsx
  Frontend/src/components/Footer/old.jsx
  Frontend/src/components/NavBar/index.jsx
  Frontend/src/components/NavBar/old.jsx
  Frontend/src/components/WindowiOS/index.jsx
  Frontend/src/views/LandingPage/About/about.module.css
  Frontend/src/views/LandingPage/About/backend.json
  Frontend/src/views/LandingPage/About/frontend.json
  Frontend/src/views/LandingPage/About/index.jsx
  Frontend/src/views/LandingPage/About/visualization.json
  Frontend/src/views/LandingPage/Contact/contact.module.css
  Frontend/src/views/LandingPage/Contact/index.jsx
  Frontend/src/views/LandingPage/Docs/docs.module.css
  Frontend/src/views/LandingPage/Docs/index.jsx
  Frontend/src/views/LandingPage/Home/home.module.css
  Frontend/src/views/LandingPage/Home/index.jsx
  Frontend/src/views/LandingPage/Home/old.jsx
  Frontend/src/views/LandingPage/PasswordResetPage/index.jsx
  Frontend/src/views/LandingPage/PasswordResetPage/passwordresetpage.module.css
  Frontend/src/views/VisualizationPage/index.jsx
Labels: help wanted, Improvements

#21 Feature/B-25 Add API for profile pictures
  Backend/dev/docker-compose.yml
  Backend/dev/minio.Dockerfile
  Backend/dev/minioconfig.Dockerfile
  Backend/package-lock.json
  Backend/package.json
  Backend/src/API/REST/express_middleware.ts
  Backend/src/API/REST/express_routes.ts
  Backend/src/API/REST/middleware/check_auth.ts
  Backend/src/API/REST/middleware/validation.ts
  Backend/src/API/REST/routes/reset_institution_pictures.ts
  Backend/src/API/REST/routes/reset_user_avatar.ts
  Backend/src/API/REST/routes/upload_institution_pictures.ts
  Backend/src/API/REST/routes/upload_user_avatar.ts
  Backend/src/database/dtos/institution.dto.ts
  Backend/src/database/dtos/user.dto.ts
  Backend/src/database/models/user.ts
  Backend/src/database/services/institution.service.ts
  Backend/src/database/services/user.service.ts
  Backend/src/definitions/image_upload_result.ts
  Backend/src/startup/init_env_vars.ts
  Backend/src/swagger.json
  Backend/src/util/processImageUpload.ts
Labels: feature, backend

#46 add get endpoints for institutions, teams and projects
  Backend/package-lock.json
  Backend/src/API/REST/express_routes.ts
  Backend/src/API/REST/routes/institution/institutionRouter.ts
  Backend/src/API/REST/routes/project/projectRouter.ts
  Backend/src/API/REST/routes/team/teamRouter.ts
  Backend/src/database/services/institution.service.ts
  Backend/src/database/services/project.service.ts
  Backend/src/database/services/team.service.ts
Labels: feature, backend

#56 Update Year to 2022
  Backend/src/views/mails/password_reset_confirmation_email/html.html
  Backend/src/views/mails/password_reset_request_email/html.html
  Backend/src/views/mails/signup_confirm_email/html.html
  Frontend/src/components/Footer/index.jsx
Labels: Improvements

#55 Improvement/b 45 institution auth check middleware
  Backend/package-lock.json
  Backend/src/API/REST/express_routes.ts
  Backend/src/API/REST/middleware/check_institution_auth.ts
  Backend/src/API/REST/routes/institution/institutionRouter.ts
  Backend/src/database/services/institution.service.ts
  Backend/src/definitions/ext_request.ts
  Backend/src/swagger.json
Labels: Improvements, backend

#32 Feature/b 26 sprint 3 model api for frontend 3
  Backend/src/API/REST/express_routes.ts
  Backend/src/API/REST/routes/atlas/atlasRouter.ts
  Backend/src/API/REST/routes/model/modelRouter.ts
  Backend/src/API/REST/routes/project/projectRouter.ts
  Backend/src/API/REST/routes/team/teamRouter.ts
  Backend/src/API/REST/routes/user/userRouter.ts
  Backend/src/database/models/atlas.ts
  Backend/src/database/models/model.ts
  Backend/src/database/models/project.ts
  Backend/src/database/models/team.ts
  Backend/src/database/services/atlas.service.ts
  Backend/src/database/services/institution.service.ts
  Backend/src/database/services/model.service.ts
  Backend/src/database/services/project.service.ts
  Backend/src/database/services/team.service.ts
Labels: feature, backend

#41 Frontend 2 components
  Frontend/.eslintrc.json
  Frontend/src/App.jsx
  Frontend/src/components/Breadcrumb/index.jsx
  Frontend/src/components/Cards/AtlasCard.jsx
  Frontend/src/components/Cards/DatasetCard.jsx
  Frontend/src/components/Cards/GeneralCard.jsx
  Frontend/src/components/Cards/GeneralCardHeader.jsx
  Frontend/src/components/Cards/ModelCard.jsx
  Frontend/src/components/CustomButton/custombutton.module.css
  Frontend/src/components/CustomButton/index.jsx
  Frontend/src/components/Filter/filter.module.css
  Frontend/src/components/Filter/index.jsx
  Frontend/src/components/Footer/index.jsx
  Frontend/src/components/Footer/old.jsx
  Frontend/src/components/Input/Input.jsx
  Frontend/src/components/Input/input.module.css
  Frontend/src/components/Mapper/index.jsx
  Frontend/src/components/Mapper/mapper.module.css
  Frontend/src/components/Modal/index.jsx
  Frontend/src/components/NavBar/index.jsx
  Frontend/src/components/NavBar/old.jsx
  Frontend/src/components/Search/index.jsx
  Frontend/src/components/Sidebar/SidebarData.jsx
  Frontend/src/components/Sidebar/index.jsx
  Frontend/src/components/Sidebar/sidebar.module.css
  Frontend/src/components/Tab/index.jsx
  Frontend/src/components/Tag/index.jsx
  Frontend/src/components/Tag/tag.module.css
  Frontend/src/components/WindowiOS/index.jsx
  Frontend/src/shared/theme/colors.js
  Frontend/src/shared/theme/theme.js
  Frontend/src/views/About/index.jsx
  Frontend/src/views/Contact/index.jsx
  Frontend/src/views/Dashboard/index.jsx
  Frontend/src/views/Docs/index.jsx
  Frontend/src/views/Explore/Explore.css
  Frontend/src/views/Explore/index.jsx
  Frontend/src/views/Home/index.jsx
  Frontend/src/views/Home/old.jsx
  Frontend/src/views/PasswordResetPage/index.jsx
  Frontend/src/views/VisualizationPage/index.jsx
Labels: help wanted, component

#31 Feature/b 37 sprint 3 removing a team from
  Backend/package-lock.json
  Backend/src/API/REST/express_routes.ts
  Backend/src/API/REST/routes/team/teamRouter.ts
  Backend/src/database/services/team.service.ts
Labels: feature, backend
